.dart_tool/
analysis_options.yaml
*.iml
/pubspec.lock
.dart_tool/extension_discovery/README.md
.dart_tool/extension_discovery/vs_code.json
.dart_tool/package_config.json
.dart_tool/package_config_subset
.dart_tool/package_graph.json
.dart_tool/version
analysis_options.yaml
pubspec.lock
swiftify.iml